<header class=""header>
    <a href="/" class="header__logo">Website</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>"            
            </li>
            <li>
                <a href="/about" class="">About</a>"            
            </li>
            <li>
                <a href="/applications" class="">Applications</a>"            
            </li>
            <li>
                <a href="/research" class="">Research</a>"            
            </li>
            <li>
                <a href="/Resume" class="">Resume</a>"            
            </li>
        </ul>
    </nav>
</header>