<header class="header">
    <a href="/" class="header__logo">My Website</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/" class="">Home</a>            
            </li>
            <li>
                <a href="/about" class="">About</a>           
            </li>
            <li>
                <a href="/applications" class="">Applications</a>          
            </li>
            <li>
                <a href="/research" class="">Research</a>          
            </li>
            <li>
                <a href="/resume" class="">Resume</a>           
            </li>
        </ul>
    </nav>

    <div class="header__button">
        <button class="searchBtn" aria-expanded="false" onclick="openEmailClient()">Contact Me</button>
    </div>
    </div>
</header>
<script>
    function openEmailClient() {
        window.location.href = 'mailto:nihalgunukula@gmail.com';
    }
</script>