<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="profile-card">
        <h2>Nihal Gunukula</h2>
        <img src="/img/Profile-Picture.png" alt="Profile Image" class="profile-image">
        <div class="accomplishment">
            <strong>Purdue Freshman of the Year</strong>
            <p>Recieved for my academic performance, leadership skills, and active participation in the college of science during my freshman year at Purdue University.</p>
        </div>
        <div class="accomplishment">
            <strong>2x Hackathon Finalist/Winner</strong>
        </div>
        <div class="accomplishment">
            <strong>5x Pitch Comeptition Finalist/Winner</strong>
        </div>
        <a href="https://www.linkedin.com/in/nihalgunu/" target="_blank" style="color: #3498db; text-decoration: none; font-weight: bold;">My LinkedIn</a>
    </div>
    

</body>
</html>
