<h1>Sneak peak into my life</h1>

<h2> Some things I enjoy </h2>

<p>

- Origami Dragons
- Long walks at the park
- Snowboarding down a fresh layer of snow
- Watching tons of sunsets
- Basketball

</p>

<h2> What I love working on </h2>

<p>
    - Aim to build the next big thing
    - Building cool things that people would want to use
    - Making a clear difference
</p>

