<h1>Cool things I am building</h1>
<h2> VirtualYou </h2>
<h2> OpenSpaces </h2>
<h2> Fred. </h2>
<h2> DailyWins </h2>
<h2> LendingPlatform </h2>
<h2> MusicCommunityPage </h2>
<h2> ChairCare </h2>
<h2> ML - Leaderboard </h2>
<h2> This Website </h2>
