<div class="author">
    <h1 class="author__heading">
        Hi, I am Nihal!
    </h1>
    <p class="author__body">
        Sofware Developer, Maching Learning Researcher and Entrepreneur.
    </p>
</div>

<!-- Change the bellow to match a image that you would like -->
<img src="/img/Website-Profile-Picture.png" alt="my profile picture" class="hero-image" width="250" height="250">

<section class="articles">
    <h2 class="articles__heading">
        Latest Update
    </h2>
    <ul class="update-ul">
        <li>               
            <a href="#">
                <span> Update 1 </span>
                <span class="update__date"> Date </span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Updates</a</section>